* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.informacao {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    width: 100%;
    max-width: 912px;
}
ion-icon {
    margin-right: 10px;
    height: 36px;
    width: 36px;
}

.tempo {
    display: flex;
    align-items: center;
    border: 4px solid rgba(47, 177, 11,0.5);
    border-radius: 10px;
    background-color: rgba(219, 245, 212, 0.8);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #158622;
}

h1 {
    margin: 50px 0 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 34px;
    margin: 0 120px;
    max-width: 900px;
    list-style-type: none;
}
li {
    position: relative;
    height: 146px;
    width: 118px;
}
.carta:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    height: 146px;
    width: 118px;
    background-color: #A7E9AF;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.verso {
    transform: rotateY(180deg);
}
.virada .verso {
    transform: rotateY(0deg);
}
.virada .frente {
    transform: rotateY(-180deg);
}
.virada:hover {
    transform: scale(1);
}


img {
    height: 100px;
    width: 100px;
}


@media (max-width: 600px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
    }
    .tempo {
        font-size: 24px;
    }
    ul {
        flex-direction: column;
    }
}
